/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

html {
  color: #333;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

body {
  background-color: #0e0e0e;
}

main {
  padding-top: 147px;
}

/* Layout */
.best-shared {
  margin: 0 auto;
  text-align: center;
  width: 900px;
  background-color: #fff;
  padding: 30px 0px 40px;
}

.logo {
  margin-bottom: 15px;
}

.best-shared h2 {
  font-size: 45px;
  font-weight: normal;
  margin-bottom: 25px;
}

.best-shared h2 strong {
  color: #00aeef;
  font-weight: 600;
}

.lead-text {
  margin-bottom: 40px;
  font-size: 17px;
}

.btn-list {
  text-align: center;
}

.btn-list li {
  display: inline;
  margin: 0 12px;
}

.btn-list li a {
  background-color: #2d3032;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  height: 56px;
  line-height: 56px;
  min-width: 170px;
  text-decoration: none;
  transition: 0.3s background-color;
}

.btn-list li a:hover {
  background-color: #00aeef;
}
